In [33]:
import pandas as pd
import numpy as np

In [64]:
df_005 = pd.read_csv("semweb-data-005.csv")
df_005["country"] = df_005["country"].apply(str)
df_005["city"] = df_005["city"].apply(str)
df_005.head()

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count,wikidata_entity
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065",http://www.wikidata.org/entity/Q49108
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725",http://www.wikidata.org/entity/Q41506
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646",http://www.wikidata.org/entity/Q13371
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800",http://www.wikidata.org/entity/Q35794
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968,http://www.wikidata.org/entity/Q161562

In [136]:
country_conv = {
    "China (Mainland)": "http://www.wikidata.org/entity/Q148",
    "Hong Kong SAR": "http://www.wikidata.org/entity/Q8646",
    "Iran, Islamic Republic of": "http://www.wikidata.org/entity/Q794",
    "Macau SAR": "http://www.wikidata.org/entity/Q14773",
    "Palestinian Territory, Occupied": "http://www.wikidata.org/entity/Q219060",
    "Puerto Rico": "http://www.wikidata.org/entity/Q1183",
}

def get_country_entity(x):
    if x in list(wikidata_countries["countryLabel"]):
        return wikidata_countries.loc[wikidata_countries['countryLabel'] == x]["country"].values[0]
    
    ccs = None
    for index, row in wikidata_countries.iterrows():
        if x in row["countryAltLabelList"]:
            return row["country"]
    
    if x in country_conv.keys():
        return country_conv[x]
    
    return None
    
# print(get_country_entity("United Kingdom"))
# print(get_country_entity("United States"))

In [137]:
# add country entity
df_005["wikidata_country"] = df_005["country"].apply(get_country_entity)

In [138]:
for c in np.unique(df_005[df_005['wikidata_country'].isnull()]["country"]):
    print(c)

In [139]:
df_005[df_005['wikidata_country'].isnull()].head()

Empty DataFrame
Columns: [university, year, rank_display, score, link, country, city, region, logo, type, research_output, student_faculty_ratio, international_students, size, faculty_count, wikidata_entity, wikidata_country]
Index: []

In [140]:
# export
df_005.to_csv("semweb-data-006.csv", index=False)